body {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden!important
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
}

.image {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.image img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

html, body {
	height: 100%;
}

@media only screen and (max-width: 768px) {
	p {
		margin: 0;
	}
}

h2 {
	margin: 0 50px 20px;
}

h3 {
	margin: 0 25px;
}

@media only screen and (max-width: 768px) {
	.title h2 {
		margin: 0 20px;
	}
}

.home img {
	margin: 15px 15px 0 0;
}
