body {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden !important;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	overflow: hidden;
}

svg {
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

audio {
	display: none;
}

.image.dance {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	animation: diagonalJive is ease-in-out infinite;
}

@keyframes diagonalJive {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(5px, 5px);
  	}
	50% {
	    	transform: translate(0, 0);
	}
	75% {
	    	transform: translate(-5px, 5px);
	}
	100% {
	    	transform: translate(0, 0);
	}
}

.image.dance img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto 50vw;
}

html, body {
	height: 100%;
}

@media only screen and (max-width: 768px) {
	p {
		margin: 0;
	}
}

h2 {
	margin: 0 50px 20px;
}

h3 {
	margin: 0 25px;
}

@media only screen and (max-width: 768px) {
	.title h2 {
		margin: 0 20px;
	}
}

.home img {
	margin: 15px 15px 0 0;
}
